#btnUpload {
    background-color: #4caf50;
    /* Green */
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.Box-container{
    max-height: auto;
}

.sp-bot{
    
    margin-bottom: 15px;

}
 
 
/* CSS */
.create-btn {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
     text-decoration: none;
    width: 150px;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0.5rem 1.6rem;
    outline-style: none;
}


.bcreate-btn:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

.onloading{
    display: none;
}
.submit-create{
    animation-name: smoothLeft;
    animation-duration: 1;
 }
 
.process-wrapper{
    opacity: 0;
}
 


@keyframes smoothLeft{

 0%{transform:translateX(0);opacity: 1;}

 100% {transform: translateX(-50%);
                    opacity: 0;
                }

}

@keyframes loading 
{0%,
30% {width: 0% 30% ;width: 10% 40% ;width: 40% 50% ;width: 50% 60%,}
70% {width: 70% 100%; width: 100%}
}
.progress
{
      height: 150px
  
}
.progress-outer
{ width: 150px ;height: 20px ;
    background: rgb(113, 123, 200);
     padding: 5px ;
     box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
      border-radius: 5px}
.progress-inner {background-color: #dd411e ;border-radius: 5px ;height: 20px; width: 0%;
    animation: loading 3s 1 300ms forwards;
}