html {
    font-size: 14px !important;
}

.image {
    height: 40px;
    width: 40px;
}

.checkout {
    padding: 1em 0 1em 0;
}

 
#icon {
    width: 1.5em;
    height: 1.5em;
}

.price {
    margin-right: 1em;
}

.delete,
.delete:focus,
.delete:active {
    border: 0;
    background: none;
    outline: none;
    padding: 0;
}

.borderr {
    border: 0 0 1px 0 solid black !important;
}

.label {
    margin-left: 2em;
}