.categorys-container {
  /* width: 80%; */
  padding: 10px;
  margin: 0 auto;
}
.text-menu {
  color: #575f73;
  font-size: 16px;
  font-family: initial;
}
.text-menu:active {
  color: #4b76e2;
  font-size: 16px;
  font-family: initial;
}
