.card-item{
  text-align: center; 
}

.site-card-wrapper{
  width: 95%;
 
  ;
  /* text-align: center; */
  /* background-color: bisque; */
}   

.ant-col{ 
}

.Card-list{
  list-style: none;
  padding: 0;
}

.card-price{
   height: 50px;
  display: flex;
  justify-content: space-between;
 }

.card-price h2{
  font-size: 14px;
  font-weight: 700;
  color: #1e87f0;
}

.card-price-container{
  width: 90%;
  margin: 10px auto;
}

button.ant-btn.ant-btn-primary.btn-color{
  background-color: #e6963d;
  border: #e6963d;
}


.card-img{
  width: 100%;
   height: 300px;
  object-fit: cover;
 


}

 

@media screen and (max-width: 1024px) and (min-width: 768px)  {


  .card-img{
        object-fit: contain;
    width: 100%;
    height: 250px;
 
  }


}

@media  screen and (max-width: 767px)  and (min-width:600px) {


  .card-img {
    object-fit: contain;
     height: 250px;
 
     width: 100%;
  }


}


 
 

@media only screen and (max-width:599px) and (min-width:320px)  {
  .card-img {
        object-fit: contain;
    width: 100x;
    height: 100px;

  }
}