.profile {
  width: 100%;
  padding: 20px;
}
.select-active {
  position: relative;
  width: 100%;
  background-color: azure;
  text-align: center;
  font-family: monospace;
  color: black;
  border: 1px solid blue;

  cursor: pointer;
}
.select {
  position: relative;
  border: 0.3px solid rgb(187, 183, 183);

  width: 100%;
  text-align: center;
  font-family: monospace;
  color: rgb(99, 92, 92);
  cursor: pointer;

  background-color: rgb(229 229 229 / 70%);
}

.select-active:hover {
  border: 1px solid blue;
}
.select:hover {
  border: 1px solid blue;
}
