.header-container {
  margin: 0 !important;
  padding: 1em 0 1em 0 !important;
  background-color: white;
  position: relative;
  z-index: 0;
}

.logo {
  padding: 0 !important;
  margin: 0 !important;
}

.Button:focus {
  outline: none !important;
}

.Button {
  outline: none !important;
  background-color: white;
  border: 0;
}

.Button:hover {
  /* outline: none;
    background-color: none; */
}

.Btton {
  width: 2.5em;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  outline: 0 none;
  background-color: white;
}
.notification {
  text-decoration: none;
  padding: 0px 15px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
}

.notification .badge {
  position: absolute;
  top: -7px;
  right: 1px;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 15px;
}

.saleimg:hover {
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}
