.container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    margin: 2vh 0 2vh 0;
}
.container >  *{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo{
    background-image: url(./logo.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Logo,.Cart{
   height: 12vh;
}



