.App {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1.5em 0 1.5em !important;
}

* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bd {
  border: 1px solid red;
}

.flex {
  display: flex;
}

.colum {
  flex-direction: column;
}

.frow {
  flex-direction: row;
}
.fcol{
  flex-direction: column;
}

.jus-center {
  justify-content: center;
}

.jus-right {
  justify-content: right;
}

.al-center {
  align-items: center;
}

.al-end {
  align-items: flex-end;
}

.al-start {
  align-items: flex-start;
}

.sp-bot {
  margin-bottom: 15px;
}