.App{
  width: 100%;
  height: 100%;

}

*{
 
  padding:9;
  margin: 0;
  box-sizing: border-box;
}
.bd{
  border:1px solid red;
}
.flex{
  display: flex;
}
.col{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
.jus-center{
  justify-content: center;
}
.jus-right{
  justify-content:right;
}
.al-center{
  align-items: center;
}
.al-end{
  align-items: flex-end;
}

.al-start{
  align-items: flex-start;
}