.banner-slide{
    height: 450px;
    width:85%;
    display: flex;
    justify-content: center;
    padding: 1em;
}


.banner-slide img{
    object-fit: cover;
    text-align: center;
    
 }
 .carWrapper {
     max-width: 976px;
 }